body {
  background-color: #262626; // TODO: Remove Before production
}
// Sets navbar to expand horizontally in mobile
ul.navbar-nav {
  display        : flex;
  flex-direction : row;
  justify-content: space-around;
}

#content-container {
  margin-top: 10%; // TODO: Tweak for mobile
}

.full-height {
  height  : 100vh;
  overflow: hidden;
}

.drop-in-enter-active,
.drop-in-leave-active {
    transition: opacity 0.3s ease;
}
/* .component-fade-leave-active below version 2.1.8 */
.drop-in-enter,
.drop-in-leave-to {
    opacity: 0;
}

// Animation cursor for typed.js
.typed-cursor {
  margin-left      : 2px;
  opacity          : 1;
  -webkit-animation: blink .7s infinite;
  -moz-animation   : blink .7s infinite;
  animation        : blink .7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
